name: 05-1-Filter-Activity
on:
    pull_request:
        types:
            - closed
        branches:
            - main
jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - run: echo "Running whenever a PR is closed or synchronized AND base branch is main"       
