# ...existing code...
name: 06-Context
run-name:  '06 - Context | Debug: ${{ inputs.debug }}'
on: 
  push:
  workflow_dispatch:
    inputs:
        debug:
            type: boolean
            default: false
env:
    MY_WORKFLOW_VAR: 'workflow'
    MY_OVERWRITTEN_VAR: 'workflow'            
jobs:
    echo-data:
        runs-on: ubuntu-latest
        env:
            MY_JOB_VAR: 'job'
            MY_OVERWRITTEN_VAR: 'job'
        steps:
            - name: Show GitHub Context Data
              run: |
                
                echo "Event Name: ${{ github.event_name }}"
                echo "SHA: ${{ github.sha }}"
                echo "Ref: ${{ github.ref }}"
                echo "Actor: ${{ github.actor }}"
                echo "Workflow: ${{ github.workflow }}"
                echo "run ID: ${{ github.run_id }}"
                echo "run number: ${{ github.run_number }}"
            - name: Retrieve variable
              run: |
                echo "Variable value: ${{ vars.MY_VARIABLE }}"
            - name: Show Environment Variables
              run: |
                echo "MY_WORKFLOW_VAR: $MY_WORKFLOW_VAR"
                echo "MY_JOB_VAR: $MY_JOB_VAR"
                echo "MY_OVERWRITTEN_VAR: $MY_OVERWRITTEN_VAR"    
# ...existing code...